# Ignore node_modules and build files
node_modules/
.next/
.out/
/build

# Ignore environment and secrets
.env*
.vercel
.DS_Store

# Ignore log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# Ignore Python virtual environment
backend-venv/
__pycache__/
*.pyc
*.pyo
*.pyd
uploads/

# Ignore large model files
backend/sam_vit_h_4b8939.pth
backend/segmented_output.png
node_modules/
.next/
node_modules/
backend-venv/
